.card-container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 35%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.card h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.button-container button {
  display: block;
  margin: 10px 0 0 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shopping-basket-controls {
  background-color: rgb(80, 79, 82);
}

.control-add:before {
  content: "\002B"; /* Unicode for a plus sign */
}

.control-remove:before {
  content: "\002D";
}

.shopping-basket-controls:hover {
  background-color: rgb(118, 117, 120);
}

.add-basket-controls:hover {
  background-color: #00b3ff;
}

.add-basket-controls {
  background-color: #007bff;
}

.card .add-basket-controls:hover {
  background-color: #00b3ff;
}

.card-body {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-container button {
  margin-right: 10px;
}
